
body{
    font-family: 'Lexend Deca';
}


footer{
    border-top: 1px solid #cddfff;
    padding: 20px 0;
    color: #012972;
    width: 100%;
    padding: 20px;
    text-align: center;
}

footer p a{

    color:#4183F7 ;
    text-decoration: none;
}

/* para que se quede fijo al final  */
#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
} 
 

footer p {
    margin: 10px;

}

/* poner el footer abajo */
html {
height: 100%;
}

body {
display: flex;
flex-direction: column;
min-height: 100%;
}

footer {
margin-top: auto;
}