
body{
    background: #E5E5E5;
    font-family: 'Lexend Deca';
}

#error{
    color: red;
    font-size: 18px;
    margin-bottom: 20px;
}

#success{
    color: green;
    font-size: 18px;
    margin-bottom: 20px;
}


