/* header */

*{
    box-sizing: border-box;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    width: 100%;


}

h1{
    font-family: "Nunito", sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #012970;
}

.logo a {
    text-decoration: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.logo a img{
    width: 60px;
    max-height: 50px;
}

/* Menú */

#menu{
    font-family: "Nunito", sans-serif

}

#navegador li { 
    width: 100%;
    list-style-type: none; 
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding-right: 20px;

}




#subseccion1 {
    box-sizing: border-box;
    position: absolute; 
    top: 100%; left: 0;  
    background-color: #fff;;
    font:normal 0.8em arial;  
    padding: 2em 0.5em ; 
    cursor: default;
    /* width: 200px; */
    margin-top: 10px;
    text-align: center;
    display: none;

  } 	

#subseccion1 p ,  #subseccion1 a{ color: black;}


#correo,
#logout,
#perfil
{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #012970;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    padding: 10px 0px;
    border-bottom: 1px solid #dddddd;
}


#logout:hover,
#perfil:hover
{
    cursor: pointer;
    text-decoration: underline;
}
