@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
body{
  font-family: 'Arimo', sans-serif;
}

#profile{
  border: solid 1px green ;
  
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: auto 0  ;
}


.box{
  border: solid 1px red;
  width: 50%;
  /* min-height: 100px; */

}

.presentation{
  width: 30%;
  border: solid 1px blue;
}

.tab{

  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  display:inline-block;
  color: #3a4459;
  border-radius:3px 3px 0px 0px;
  /* box-shadow: 0 0.5rem 0.8rem #00000080; */
}

.tabs{
    margin: auto;
    width: 500px;
    border-bottom: #eceff4 2px solid;

}
.panels{
  min-height: 100%;
  width:100%;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1
}