@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
body{
  font-family: 'Arimo', sans-serif;
  background: #F6F9FF;
}

/* Encabezados */
#profile{
  
  /* background-color: red; */
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 100px  0  ;
  background-color: #fff;

}


.box{
  padding: 0px 80px;
  width: 50%;

  /* min-height: 100px; */

}

.presentation{
  width: 30%;
  background-color: #fff;
}

.tab{

  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  display:inline-block;
  color: #3a4459;
  border-radius:3px 3px 0px 0px;
  /* box-shadow: 0 0.5rem 0.8rem #00000080; */
}

.tabs{
    margin: auto;
    width: 500px;
    border-bottom: #eceff4 2px solid;

}
.panels{
  min-height: 100%;
  width:100%;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1
}



.password,.edit,.profile{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 20px  ;
  align-items: center;
  background-color: #fff;


}


label,p{
  margin: 10px 0 ;
}


input{
  padding: 10px 12px;
  border: solid 1px #CED4DA;
  border-radius: 5px;
  width: 55%;

}

input[type=submit]{
  margin:50px auto;
  padding: 5px 12px;
  border-radius: 5px;
  background: #0D6EFD ;
  cursor: pointer;
  color: white;
  display: block;
  height: 45px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


.box-img{

  text-align: center;
  
}

.box-img img {
  width: 50%;
  height: 50%;
  margin: 20px auto;
  display: block;
}

.bi.bi-trash,.bi.bi-upload {
  font-size: 200px;
  color: rgb(255, 255, 255);
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 15%;
  cursor: pointer;
}

.bi.bi-upload {
  background-color: #0D6EFD;    
}

.bi.bi-trash {
  background-color: #FF0000;    
}

p.nota{
  margin-top: 40px;
}

input:read-only {
  background: rgb(232, 224, 224); 
}

input:read-only:focus{
  outline: none;
  border: none;
}


textarea{
  min-height: 300px;
  margin-bottom: 30px;
  padding: 10px 12px;
  border: solid 1px #CED4DA;
  border-radius: 5px;
  /* resize:none;  para que el textarea no pueda cambiar de  tamaño*/
  resize:vertical; 	/* El elemento es redimensionable en el eje vertical. */
  width: 55%;

}


input[type=submit]{
  padding: 5px 12px;
  border-radius: 5px;
  background: #0D6EFD ;
  cursor: pointer;
  color: white;
  display: block;
  height: 45px;
}


/* Ver perfil  */
#about{
  text-align: justify;
}


.presentation .box{
  padding: 0px 80px;
  width: 100%;
  /* min-height: 100px; */
}

.presentation .box  .img-presentation {
  width: 210px;
  /* height: 200px; */
  margin: 40px auto;
  display: block;


}

.presentation .box  .media{
  display: flex;
}

.presentation .box  .media img{
  cursor: pointer;
  width: 30px;
  height: 25%;
  margin: 10px 20px;
}

.presentation .box  p{
  text-align: center;
  margin: 10px 20px;
  font-size: 20px;
}


h2{
  text-align: center;
  margin: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  color: #012970;
}