{%extends 'base.html'%} 
<title>{% block title %}Editar  mensaje {% endblock %}</title>
{% block style %}<link rel="stylesheet" href="/static/css/Messages.css" />{% endblock %}> 

{% block body %}

<h1>Editar mensaje</h1>

<form action="" method="POST">
    {{ form.csrf_token }} <!-- esto es un token para evitar ataques -->
    
    <label for="id">ID mensaje</label>
    <input readonly id="id" type="text" value="{{mensaje[0]}}">

    <label for="fecha">Fecha envío</label>
    <input readonly id="fecha" type="text" value="{{mensaje[3]}}">

    <!-- select -->
    <p>Destinatario</p>
    <select name="destino" id="destino">
        {%for usuario in usuarios%}
        <option value={{usuario[0]}}>{{usuario[1]}}</option>
        
        {%endfor%}
    </select>
    
    {{ form.asunto.label}}
    {{ form.asunto(value= mensaje[1])}}


    <label for="mensaje">Mensaje</label>
    <textarea name="mensaje" id="mensaje" cols="30" rows="10">{{mensaje[2]}}</textarea>    

        
    
    {{form.submit}}

    

</form>

{% endblock %}