
<!-- extender de  la plantilla base -->
{%extends 'base.html'%} 
<!-- {% block style %}<link rel="stylesheet" href="/static/css/form.css" />{% endblock %}>  -->

{% block title%} Inicio {% endblock %}

{% block body %}

    <!-- mensaje session -->

    {% if session['userName'] %}
        <p>{{ session['userName'] }}</p>
    {% endif %}

    <h1>center mail</h1>
    <nav>

        <a href="{{url_for('endMessage')}}">Envíar mensaje</a>
        <a href="">Bandeja de entrada</a>

        <button id="logout">
            Cerrar sesión
        </button>
    </nav>

    <!-- MENSAJES ENVIADOS -->
    {% if messagesEnd != 'no mensajes' %}
        <caption>Mensajes Enviados</caption>
        <a href="{{url_for('edit')}}">editar</a>
        <a href="{{url_for('delete')}}">eliminar</a>
         <!-- TABLA mensajes enviados -->
         <table>
            <thead>
                <tr>
                    <th></th>    
                    <th>Destinatarios</th>
                    <th>Asunto</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
        {% for message in messagesEnd %}
           
            <tr>
            
                <td><input type="checkbox" name="message" value="{{message[0]}}"></td> <!-- guarda el id del mensaje --> 
                <td>{{message[1]}}</td>
                <td>{{message[2]}}</td>
                <td>{{message[3]}}</td>
            </tr>
               
        {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No hay mensajes enviados</p>
    {% endif %}
            

    <!-- MENSAJES Recibidos -->
    {% if messagesRecibidos != 'no mensajes' %}
    <caption>Mensajes Recibidos</caption>
    <!-- TABLA  -->
    <table>
        <thead>
            <tr>
                <th></th>    
                <th>Remitente</th>
                <th>Asunto</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
    {% for message in messagesRecibidos %}
        
        <tr>
            <td><input type="checkbox" name="message" value="{{message[0]}}"></td> <!-- guarda el id del mensaje --> 
            <td>{{message[1]}}</td> 
            <td>{{message[2]}}</td>
            <td>{{message[3]}}</td>
        </tr>
            
    {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>No hay mensajes recibidos</p>
{% endif %}
   
            
        

    

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- mensaje cerrar sesión -->
<script >

    const  button = document.getElementById('logout')
    button.addEventListener('click', () => {
        Swal.fire({
            title: '¿Está seguro?',
            text: "¿Desea cerrar sesión?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, cerrar sesión'
            })
            .then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/login'
                }
        })
    })
</script>

{% endblock %}

