<!-- extender de  la plantilla base -->
{%extends 'base.html'%} 
{% block style %}<link rel="stylesheet" href="/static/css/form.css" />{% endblock %}

{% block title%} Login {% endblock %}

{% block body %}
<!-- action es donde dirige al envíar el formulario -->
<form action="/inicio" method="POST">
    {{ form.csrf_token }} <!-- esto es un token para evitar ataques -->

    <h1>Sign in</h1>
    <p>Ingrese sus datos para poder ingresar!</p>

    {{ form.usuario(placeholder="Email" )}}
    {{ form.password(size=30,placeholder='Contraseña') }}
    {{form.submit}}

    <p id="error">{{error}}</p>
    <a href="Register">Registrarce</a>
    <a href="Activate">Activar cuenta</a> 

</form>
{% endblock %}