<!-- extender de  la plantilla base -->
{%extends 'base.html'%} 
{% block style %}<link rel="stylesheet" href="/static/css/form.css" />{% endblock %}> 

{% block title%} Registrarce {% endblock %}

{% block body %}
  <!-- action es  lo que se ejecuta o dirige cuando se envia el formulario , la accion-->
  <form action="RegistrarUsuario"  method="POST">
    <h1>Registrarce</h1>
    <p>Ingrese sus datos para poder Crear una nueva cuenta </p>

    {{ form.name(placeholder="Nombre" )}}
    {{ form.email(placeholder="Email" )}}
    {{ form.password(size=30,placeholder='Contraseña') }}
    {{form.submit}}
  
    <a href="/">Ingresar</a>
    <a href="Activate">Activar cuenta</a>
  </form>
{% endblock %}