{%extends 'base.html'%} 
<title>{% block title %}Envíar mensaje {% endblock %}</title>


{% block body %}

<form action="{{url_for('sendMessage')}}" method="POST">

    {{ form.csrf_token }} <!-- esto es un token para evitar ataques -->
    {{ form.asunto(placeholder="asunto" )}}
    {{ form.mensaje(size=30,placeholder='mensaje') }}

    <!-- select -->
    <select name="destino" id="destino">
        <option value="">Usuario a envíar mensaje</option>
        {%for usuario in usuarios%}
        <option value={{usuario[0]}}>{{usuario[1]}}</option>
        
        {%endfor%}
    </select>
    
    {{form.submit}}

    

</form>

{% endblock %}
